.projects-section {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10rem 2rem;
}

.projects-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projects-title {
  margin: 0;
  color: var(--off-white-color);
  font-size: 2rem;
  text-align: center;
}

.projects-subtitle {
  width: 100%;
  color: var(--off-white-color);
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
