.navbar-container {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
  font-family: var(--default-font);
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar-list {
  margin-right: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.navbar-item {
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.navbar-icon {
  display: none;
}

.navbar-menu-container {
  display: none;
}

.underline-anim::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-item:hover {
  color: white;
}

.underline-anim:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes menuslidein {
  from {
    top: -200px;
  }

  to {
    top: 25px;
  }
}

@media screen and (max-width: 480px) {
  .navbar-container {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
  }

  .navbar-container.expanded {
    background-color: rgba(0, 0, 0, 1);
  }

  .navbar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-logo {
    height: 3rem;
    margin-left: 0.25rem;
  }

  .navbar-list {
    margin: 0;
    transform: translateY(-200px);
    transition: transform 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    z-index: -1;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navbar-list li {
    position: relative;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s linear 0.5s;
  }

  .navbar-list.expanded {
    transform: translateY(112px);
  }

  .navbar-list.expanded li {
    opacity: 1;
  }

  .navbar-list.expanded li::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: calc((100% - 90%) / 2);
    height: 2px;
    width: 90%;
    background-color: rgba(80, 80, 80, 0.6);
  }

  .navbar-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-title {
    color: white;
    font-size: 0.75rem;
  }

  .navbar-item {
    color: white;
    width: 100%;
  }

  .navbar-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
  }

  .navbar-menu {
    box-sizing: border-box;
    background: transparent;
    border: none;
    padding: 0;
  }

  .hamburger {
    height: 100%;
    width: 100%;
    fill: white;
  }

  .navbar-menu .hamburger-line {
    transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
    transform-origin: center;
  }

  .navbar-menu.expanded .hamburger-line {
    transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
  }

  .navbar-menu.expanded :is(.top, .bottom) {
    y: 45px;
  }

  .navbar-menu.expanded .top {
    rotate: 45deg;
  }

  .navbar-menu.expanded .bottom {
    rotate: -45deg;
  }

  .navbar-menu.expanded .middle {
    opacity: 0;
  }
}
