.navbar-container {
  position: sticky;
  top: 0;
  z-index: 10;
  font-family: var(--default-font);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color ease-in-out 0.25s;
}

.navbar-container:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-list {
  margin: 1.5rem auto;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.navbar-item {
  position: relative;
  text-decoration: none;
  color: var(--inactive-text-color);
  font-size: 1.25rem;
}

.active {
  color: var(--off-white-color);
}

.underline-anim::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-item:hover {
  color: white;
}

.underline-anim:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 480px) {
  .navbar-container {
    width: 100%;
    height: 3rem;
  }

  .navbar-list {
    display: none;
  }
}
