.hero-section {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  font-family: var(--default-font);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-content {
  align-self: center;
  padding: 2rem 2rem 2rem 2rem;
  z-index: 3;
  opacity: 0;
  animation: slidein 1000ms ease, fadein 1200ms linear forwards;
}

.hero-title {
  color: var(--main-blue);
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-subtitle {
  color: var(--off-white-color);
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.hero-body {
  color: var(--off-white-color);
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.hero-diagonal {
  display: block;
  fill: var(--main-bg-color);
  position: absolute;
  top: 50%;
  right: 50%;
  overflow: hidden;
  height: 100%;
  width: 12rem;
  transform: translate(50%, -50%);
  z-index: 2;
}

.hero-image-container {
  position: absolute;
  width: 100% !important;
}

.hero-image {
  width: 100%;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .hero-image-container {
    width: 100% !important;
    height: auto !important;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
  }

  .hero-title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .hero-subtitle {
    font-size: 2rem;
    text-align: center;
  }

  .hero-body {
    font-size: 1rem;
    text-align: center;
  }

  .hero-diagonal {
    display: none;
  }
}
