.hero-section {
  position: relative;
  min-height: 577px;
  margin: 0 auto;
  font-family: var(--default-font);
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("/images/cliffs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 30%,
    transparent 100%
  );
}

.hero-content {
  align-self: center;
  padding: 2rem 2rem 2rem 2rem;
  margin-left: 4rem;
  z-index: 3;
  opacity: 0;
  animation: slidein 1000ms ease, fadein 1200ms linear forwards;
}

.hero-title {
  color: var(--main-blue);
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-subtitle {
  color: var(--off-white-color);
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.hero-body {
  color: var(--off-white-color);
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.hero-btn-container {
  display: flex;
  gap: 2rem;
}

.hero-btn-container > a {
  padding: 1em 3em;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.hero-btn-primary {
  background-color: var(--main-blue);
  color: black;
  transition: background-color 250ms ease-in-out;
}

.hero-btn-secondary {
  background-color: transparent;
  border: 2px solid var(--main-blue);
  color: var(--main-blue);
  transition: background-color 250ms ease-in-out, border 250ms ease-in-out;
}

.hero-btn-primary:hover,
.hero-btn-secondary:hover {
  background-color: var(--off-white-color);
  color: black;
}

.hero-btn-secondary:hover {
  border: 2px solid var(--off-white-color);
}

.hero-image-container {
  position: absolute;
  width: 100% !important;
}

.hero-image {
  width: 100%;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .hero-image-container {
    width: 100% !important;
    height: auto !important;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
  }

  .hero-title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .hero-subtitle {
    font-size: 2rem;
    text-align: center;
  }

  .hero-body {
    font-size: 1rem;
    text-align: center;
  }

  .hero-diagonal {
    display: none;
  }
}
