.about {
  background-color: var(--secondary-bg-color);
}

.about-section {
  font-family: var(--default-font);
  max-width: 1500px;
  margin: 0 auto;
  padding: 10rem 2rem;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.toggle-label {
  font-size: 1.5rem;
  color: var(--inactive-text-color);
  margin: 1.25rem 0;
}

.active-label {
  color: var(--off-white-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  border-radius: 34px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--main-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-blue);
}

input:checked + .slider::before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 462px;
}

.about-content {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.about-image {
  grid-column: 1 / 2;
  height: 462px;
}

.about-bio {
  grid-column: 2 / 3;
  color: var(--off-white-color);
  font-size: 1.25rem;
  line-height: 2.25rem;
  padding: 0em 2em 2em 2em;
}

.skills-content {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill-grid {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2em 2em 2em;
  place-items: center;
  row-gap: 3.5rem;
}

.skill-grid-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-grid-item {
  width: 80px;
  cursor: pointer;
}

.skill-grid-item-container:hover {
  outline: 2px solid var(--off-white-color);
}

.skill-grid-item-container:hover .skill-grid-tagline {
  visibility: visible;
  background-color: var(--off-white-color);
}

.skill-grid-tagline {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.25rem 0.25rem;
  font-weight: 700;
  visibility: hidden;
  color: var(--secondary-bg-color);
  text-transform: uppercase;
}

.skills-loading {
  height: 462px;
  padding: 0 2em 2em 2em;
  background: linear-gradient(90deg, #2e2f34 25%, #42434a 50%, #2e2f34 75%);
  background-size: 200% 100%;
  animation: pulse 1.5s infinite;
  border-radius: 0.5rem;
}

.description-loading {
  display: flex;
  flex-direction: column;
  padding: 0 2em 2em 2em;
}

.description-loading-title {
  width: 250px;
  height: 50px;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #2e2f34 25%, #42434a 50%, #2e2f34 75%);
  background-size: 200% 100%;
  animation: pulse 1.5s infinite;
  border-radius: 0.5rem;
}

.description-loading-bio {
  width: 600px;
  height: 400px;
  background: linear-gradient(90deg, #2e2f34 25%, #42434a 50%, #2e2f34 75%);
  background-size: 200% 100%;
  animation: pulse 1.5s infinite;
  border-radius: 0.5rem;
}

.active-img {
  outline: 2px solid var(--off-white-color);
}

.skill-desc {
  grid-column: 2 / 3;
  padding: 0 2em 2em 2em;
}

.skill-desc-title {
  font-size: 2rem;
  color: var(--off-white-color);
  margin-top: 0;
}

.skill-desc-bio {
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: var(--off-white-color);
}

@keyframes pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@media screen and (max-width: 480px) {
  .about-section {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0;
  }

  .toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .toggle-label {
    font-size: 1rem;
  }

  .slider::before {
    width: 16px;
    height: 16px;
    left: 2px;
    bottom: 2px;
  }

  .about-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-bio {
    font-size: 1rem;
    padding: 0;
    text-align: center;
    padding: 0 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .about-image-container {
    width: 100% !important;
    height: auto !important;
  }

  .about-image {
    width: 100%;
    height: auto;
  }
}
